@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #4ade80;
    color: transparent;
  }
  
  .shimmer {
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  }
}
